@model Template.Web.Areas.Example.Dashboard.PresenzeViewModel
<style>
.non-working-day {
    background-color: #ddd !important;
    color: #888 !important;
    cursor: default !important;
    pointer-events: none; /* disabilita il click */
}
    body {
        font-family: Arial, sans-serif;
        background: #f4f4f4;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .selected-cell {
        outline: 2px solid #0073e6;
    }
    .main-content {
        margin-left: 270px;
        padding: 20px;
        width: calc(100% - 270px);
    }

    .container {
        max-width: 80%;
        margin: auto;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
        position: relative; 
    }

    th {
        background: #0073e6;
        color: white;
    }

    td:first-child {
        font-weight: bold;
        background: #e3f2fd;
        position: sticky;
        left: 0;
        z-index: 2;
    }

    .status {
        cursor: pointer;
        font-size: 22px;
        transition: 0.3s;
    }

    .status:hover {
        transform: scale(1.2);
    }

    .intera { background: #28a745; color: white; }
    .mezza { background: #ffc107; color: black; }
    .assente { background: #dc3545; color: white; }
    .smartworking { background: #17a2b8; color: white; }

    .table-wrapper {
        overflow-x: auto;
        max-width: 100%;
    }

    #popup {
        position: absolute;
        background: white;
        border: 1px solid #ccc;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.15);
        width: 300px;
        z-index: 100;
        display: none;
        font-size: 14px;
        text-align: left;
    }

    #popup label {
        display: block;
        margin-top: 10px;
        font-weight: 600;
    }

    #popup input[type="datetime-local"], 
    #popup select {
        width: 100%;
        padding: 6px 8px;
        margin-top: 4px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #aaa;
    }

    #popup button {
        margin-top: 12px;
        padding: 8px 14px;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        font-weight: 600;
    }

    #popup button.save {
        background-color: #0073e6;
        color: white;
        margin-right: 8px;
    }

    #popup button.delete {
        background-color: #dc3545;
        color: white;
        margin-right: 8px;
    }

    #popup button.cancel {
        background-color: #ccc;
        color: black;
    }

    .legenda {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 12px;
        font-weight: bold;
    }

    #managerTable, #teamTable, #myTeamTable {
        display: none;
    }

    .legenda div {
        padding: 6px 12px;
        border-radius: 4px;
    }

     .disabled-cell {
        background-color: #ddd !important;
        cursor: default;
    }

    .status-container {
        position: relative;
        display: inline-block;
    }

    .overlay-icon {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
        font-size: 1.2em;
    }

    .arrow {
        display: inline-block;
        margin-left: 10px;
        transition: transform 0.3s ease;
    }
    
    .arrow.up {
        transform: rotate(180deg); /* Freccia verso l’alto */
    }
</style>

<div class="main-content">
    <div class="container">
        <h1 class="mb-4">Gestione Presenze e Smart Working</h1>

        <form method="get" class="border rounded p-3 bg-light">

            <div class="row mb-3 center">
                <div class="col-md-6">
                    <label for="startMonth" class="form-label"><b>Da mese:</b></label>
                    <input type="month" id="startMonth" name="startMonth"
                           class="form-control"
                           value="@Model.StartMonth?.ToString("yyyy-MM")" />
                </div>

                <div class="col-md-6">
                    <label for="endMonth" class="form-label"><b>A mese:<b></label>
                    <input type="month" id="endMonth" name="endMonth"
                           class="form-control"
                           value="@Model.EndMonth?.ToString("yyyy-MM")" />
                </div>
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-primary">Filtra</button>
            </div>
        </form>

        <div class="section-toggle card shadow-sm mb-3" style="margin-top:10px">
            <div class="card-header d-flex justify-content-between align-items-center toggle-table" data-target="myTable" style="cursor: pointer;">
                <span class="fs-5 fw-semibold text-primary">Il mio orario</span>
                <span class="arrow up" style="font-size:1.5rem">⭣</span>
            </div>
            <div id="myTable" class="table-wrapper" style="margin-bottom: 20px;">
                <table class="table table-bordered table-hover table-striped align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>Dipendente</th>
                            @foreach (var day in Model.DaysInMonth)
                            {
                                <th>@DateTime.Parse(day).ToString("dd/MM")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.CurrentUserSchedule.Name</td>
                            @foreach (var day in Model.DaysInMonth)
                            {
                                var date = DateTime.Parse(day);
                                var dayOfWeek = (int)date.DayOfWeek;
                                var isEnabled = (Model.CurrentUserTimesheetWeekDay.Split('-').Select(int.Parse).ToList()).Contains(dayOfWeek);

                                var status = Model.CurrentUserSchedule.Schedule.ContainsKey(day) ? Model.CurrentUserSchedule.Schedule[day].EventType : "";
                                var state = Model.CurrentUserSchedule.Schedule.ContainsKey(day) ? Model.CurrentUserSchedule.Schedule[day].EventState : "";

                                var icon = isEnabled ? Model.StatusIcons.GetValueOrDefault(status, "") : "";
                                var cssClass = isEnabled ? Model.StatusClasses.GetValueOrDefault(status, "") : "";

                                bool hasEvent = !string.IsNullOrEmpty(icon);
                                var clickableClass = hasEvent ? "disabled-cell" : "";
                                var onclickAttr = hasEvent ? "" : "onclick=\"openPopup(this)\"";

                                <td class="status-cell @(isEnabled? clickableClass : "disabled-cell")"
                                    data-user="@Model.CurrentUserSchedule.Id"
                                    data-StartTime="@Model.CurrentUserSchedule.TimesheetStartTime"
                                    data-EndTime="@Model.CurrentUserSchedule.TimesheetEndTime"
                                    data-day="@date.ToString("yyyy-MM-dd")"
                                    @Html.Raw(isEnabled && icon == ""? "onclick=\"openPopup(this)\"" : "")>
                                    @if (isEnabled)
                                    {
                                        <span class="status @cssClass disabled-cell" style="color:black" title="@status">@icon</span>
                                        @if (state == "Pending")
                                        {
                                            <span class="overlay-icon" style="color:orange" title="In attesa">⌛︎</span>
                                        }
                                        @if (state == "Rifiutato")
                                        {
                                            <span class="overlay-icon" style="color:red" title="Rifiutato">✘</span>
                                        }
                                        @if (state == "Approvato")
                                        {
                                            <span class="overlay-icon" style="color:green" title="Approvato">✔</span>
                                        }
                                    }
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @if (Model.ManagerUser.Any())
        {
        <div class="section-toggle card shadow-sm mb-3">
            <div class="card-header d-flex justify-content-between align-items-center toggle-table" data-target="managerTable" style="cursor: pointer;">
                <span class="fs-5 fw-semibold text-primary">Il mio Manager</span>
                <span class="arrow" style="font-size:1.5rem">⭣</span>
            </div>
            <div id="managerTable" class="table-wrapper" style="margin-bottom: 40px;">
                <table>
                    <thead>
                        <tr>
                            <th>Dipendente</th>
                            @foreach (var day in Model.DaysInMonth)
                            {
                                <th>@DateTime.Parse(day).ToString("dd/MM")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var managerUser in Model.ManagerUser)
                        {
                            <tr>
                                <td>@managerUser.Name</td>
                                @foreach (var day in Model.DaysInMonth)
                                {
                                    var date = DateTime.Parse(day);
                                    var dayOfWeek = (int)date.DayOfWeek;
                                    var isEnabled = (managerUser.TimesheetWeekDay.Split('-').Select(int.Parse).ToList()).Contains(dayOfWeek);

                                    var status = managerUser.Schedule.ContainsKey(day) ? managerUser.Schedule[day].EventType : "";
                                    var state = managerUser.Schedule.ContainsKey(day) ? managerUser.Schedule[day].EventState : "";
                                    var icon = isEnabled ? Model.StatusIcons.GetValueOrDefault(status, "") : "";
                                    var cssClass = isEnabled ? Model.StatusClasses.GetValueOrDefault(status, "") : "";
                                    bool hasEvent = !string.IsNullOrEmpty(icon);
                                    var clickableClass = hasEvent ? "disabled-cell" : "";
                                    <td class="status-cell @(isEnabled? clickableClass : "disabled-cell")"
                                        data-user="@managerUser.Id"
                                        data-StartTime="@managerUser.TimesheetStartTime"
                                        data-EndTime="@managerUser.TimesheetEndTime"
                                        data-day="@date.ToString("yyyy-MM-dd")">
                                        @if (isEnabled)
                                        {
                                            <span class="status @cssClass disabled-cell" style="color:black" title="@status">@icon</span>
                                            @if (state == "Pending")
                                            {
                                                <span class="overlay-icon" style="color:orange" title="In attesa">⌛︎</span>
                                            }
                                            @if (state == "Rifiutato")
                                            {
                                                <span class="overlay-icon" style="color:red" title="Rifiutato">✘</span>
                                            }
                                            @if (state == "Approvato")
                                            {
                                                <span class="overlay-icon" style="color:green" title="Approvato">✔</span>
                                            }
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        }

        @if (Model.Users != null && Model.Users.Any())
        {
        <div class="section-toggle card shadow-sm mb-3">
            <div class="card-header d-flex justify-content-between align-items-center toggle-table" data-target="teamTable" style="cursor: pointer;">
                <span class="fs-5 fw-semibold text-primary">Il mio Team</span>
                <span class="arrow" style="font-size:1.5rem">⭣</span>
            </div>
            <div id="teamTable" class="table-wrapper" style="margin-bottom: 40px;">
                <table>
                    <thead>
                        <tr>
                            <th>Dipendente</th>
                            @foreach (var day in Model.DaysInMonth)
                            {
                                <th>@DateTime.Parse(day).ToString("dd/MM")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td>@user.Name</td>
                                @foreach (var day in Model.DaysInMonth)
                                {
                                    var date = DateTime.Parse(day);
                                    var dayOfWeek = (int)date.DayOfWeek;
                                    var isEnabled = (user.TimesheetWeekDay.Split('-').Select(int.Parse).ToList()).Contains(dayOfWeek);

                                    var status = user.Schedule.ContainsKey(day) ? user.Schedule[day].EventType : "";
                                    var state = user.Schedule.ContainsKey(day) ? user.Schedule[day].EventState : "";
                                    var icon = isEnabled ? Model.StatusIcons.GetValueOrDefault(status, "") : "";
                                    var cssClass = isEnabled ? Model.StatusClasses.GetValueOrDefault(status, "") : "";
                                    bool hasEvent = !string.IsNullOrEmpty(icon);
                                    var clickableClass = hasEvent ? "disabled-cell" : "";
                                    <td class="status-cell @(isEnabled? clickableClass : "disabled-cell")"
                                        data-user="@user.Id"
                                        data-StartTime="@user.TimesheetStartTime"
                                        data-EndTime="@user.TimesheetEndTime"
                                        data-day="@date.ToString("yyyy-MM-dd")">
                                        @if (isEnabled)
                                        {
                                            <span class="status @cssClass disabled-cell" style="color:black" title="@status">@icon</span>
                                            @if (state == "Pending")
                                            {
                                                <span class="overlay-icon" style="color:orange" title="In attesa">⌛︎</span>
                                            }
                                            @if (state == "Rifiutato")
                                            {
                                                <span class="overlay-icon" style="color:red" title="Rifiutato">✘</span>
                                            }
                                            @if (state == "Approvato")
                                            {
                                                <span class="overlay-icon" style="color:green" title="Approvato">✔</span>
                                            }
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>    
        }
        @if (Model.IsManager && Model.TeamUsers.Count() >0)
        {
        <div class="section-toggle card shadow-sm mb-3">
            <div class="card-header d-flex justify-content-between align-items-center toggle-table" data-target="myTeamTable" style="cursor: pointer;">
                <span class="fs-5 fw-semibold text-primary">Tabella riservata ai manager</span>
                <span class="arrow" style="font-size:1.5rem">⭣</span>
            </div>
            <div id="myTeamTable" class="table-wrapper" style="margin-bottom: 40px;">
                <table>
                    <thead>
                        <tr>
                            <th>Dipendente</th>
                            @foreach (var day in Model.DaysInMonth)
                            {
                                <th>@DateTime.Parse(day).ToString("dd/MM")</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.TeamUsers)
                        {
                            <tr>
                                <td>@user.Name</td>
                                @foreach (var day in Model.DaysInMonth)
                                {
                                    var date = DateTime.Parse(day);
                                    var dayOfWeek = (int)date.DayOfWeek;
                                    var isEnabled = (user.TimesheetWeekDay.Split('-').Select(int.Parse).ToList()).Contains(dayOfWeek);

                                    var status = user.Schedule.ContainsKey(day) ? user.Schedule[day].EventType : "";
                                    var state = user.Schedule.ContainsKey(day) ? user.Schedule[day].EventState : "";
                                    var icon = isEnabled ? Model.StatusIcons.GetValueOrDefault(status, "") : "";
                                    var cssClass = isEnabled ? Model.StatusClasses.GetValueOrDefault(status, "") : "";
                                    bool hasEvent = !string.IsNullOrEmpty(icon);
                                    var clickableClass = hasEvent ? "disabled-cell" : "";
                                    <td class="status-cell @(isEnabled? clickableClass : "disabled-cell")"
                                        data-user="@user.Id"
                                        data-StartTime="@user.TimesheetStartTime"
                                        data-EndTime="@user.TimesheetEndTime"
                                        data-day="@date.ToString("yyyy-MM-dd")">
                                        @if (isEnabled)
                                        {
                                            <span class="status @cssClass disabled-cell" style="color:black" title="@status">@icon</span>
                                            @if (state == "Pending")
                                            {
                                                <span class="overlay-icon" style="color:orange" title="In attesa">⌛︎</span>
                                            }
                                            @if (state == "Rifiutato")
                                            {
                                                <span class="overlay-icon" style="color:red" title="Rifiutato">✘</span>
                                            }
                                            @if (state == "Approvato")
                                            {
                                                <span class="overlay-icon" style="color:green" title="Approvato">✔</span>
                                            }
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        }

    </div>
</div>

<div id="popup" class="card shadow p-3" style="width: 320px; position: absolute; z-index: 1050; background: white; border-radius: 0.375rem; display: none;">
    <div class="mb-3">
        <label for="startDateTime" class="form-label">Data e ora inizio:</label>
        <div class="input-group">
          <input type="datetime-local" 
                 min="@Model.CurrentUserSchedule.TimesheetStartTime" 
                 max="@Model.CurrentUserSchedule.TimesheetEndTime" 
                 id="startDateTime" 
                 class="form-control" />
        </div>
    </div>

    <div class="mb-3">
        <label for="endDateTime" class="form-label">Data e ora fine:</label>
        <input type="datetime-local" 
               min="@Model.CurrentUserSchedule.TimesheetStartTime" 
               max="@Model.CurrentUserSchedule.TimesheetEndTime" 
               id="endDateTime" 
               class="form-control" />
    </div>

    <div class="mb-3">
        <label for="eventType" class="form-label">Tipo evento:</label>
        <select id="eventType" class="form-select">
            <option value="">-- Scegli --</option>
            <option value="Ferie">Ferie</option>
            <option value="Permessi">Permessi</option>
            <option value="smartworking">Smart Working</option>
        </select>
    </div>

    <div class="d-flex justify-content-end gap-2">
        <button class="btn btn-secondary" onclick="closePopup()">Annulla</button>
        <button class="btn btn-primary" onclick="saveStatus()" disabled id="saveBtn">Salva</button>
    </div>
</div>

@section Scripts {
<script>
    let currentUserId = null;
    let currentDay = null;
    const popup = document.getElementById('popup');

    function openPopup(cell) {
    document.querySelectorAll('.status-cell').forEach(c => c.classList.remove('selected-cell'));
    cell.classList.add('selected-cell');
    currentUserId = cell.getAttribute('data-user');
    CurrentUserTimesheetStartTime = cell.getAttribute('data-StartTime');
    CurrentUserTimesheetEndTime = cell.getAttribute('data-EndTime');         
    currentDay = cell.getAttribute('data-day');                          

    const rect = cell.getBoundingClientRect();
    popup.style.top = (window.scrollY + rect.bottom + 5) + 'px';
    popup.style.left = (window.scrollX + rect.left) + 'px';

    const dayISO = currentDay;
    const defaultStart = dayISO + "T" + CurrentUserTimesheetStartTime;
    const defaultEnd = dayISO + "T" + CurrentUserTimesheetEndTime;

    const startInput = document.getElementById('startDateTime');
    const endInput = document.getElementById('endDateTime');

    startInput.value = defaultStart;
    startInput.min = defaultStart;   
    endInput.value = defaultEnd;
    endInput.min = defaultStart;   

    document.getElementById('eventType').value = '';

    updateTimeFields();

    popup.style.display = 'block';
}

document.getElementById('startDateTime').addEventListener('input', function() {
    const startVal = this.value;
    const endInput = document.getElementById('endDateTime');
    if (endInput.value < startVal) {
        endInput.value = startVal;
    }
    endInput.min = startVal;
});
    function updateTimeFields() {
        const startInput = document.getElementById('startDateTime');
        const endInput = document.getElementById('endDateTime');

        const startDate = startInput.value.substring(0, 10);
        const endDate = endInput.value.substring(0, 10);

        if (startDate === endDate) {
            startInput.disabled = false;
            endInput.disabled = false;
        } else {
            startInput.disabled = false;
            endInput.disabled = false;

            const newStart = startDate + 'T09:00';
            const newEnd = endDate + 'T17:00';
            startInput.value = newStart;
            endInput.value = newEnd;

            startInput.addEventListener('input', fixStartTimeIfDateDiffers);
            endInput.addEventListener('input', fixEndTimeIfDateDiffers);
        }
    }

    function fixStartTimeIfDateDiffers() {
        const startInput = document.getElementById('startDateTime');
        const endInput = document.getElementById('endDateTime');
        const startDate = startInput.value.substring(0, 10);
        const endDate = endInput.value.substring(0, 10);

        if (startDate !== endDate) {
            startInput.value = startDate + 'T09:00';
        }
    }

    function fixEndTimeIfDateDiffers() {
        const startInput = document.getElementById('startDateTime');
        const endInput = document.getElementById('endDateTime');
        const startDate = startInput.value.substring(0, 10);
        const endDate = endInput.value.substring(0, 10);

        if (startDate !== endDate) {
            endInput.value = endDate + 'T17:00';
        }
    }

    document.getElementById('startDateTime').addEventListener('change', updateTimeFields);
    document.getElementById('endDateTime').addEventListener('change', updateTimeFields);

    const eventTypeSelect = document.getElementById('eventType');
    const saveButton = document.getElementById('saveBtn');

    eventTypeSelect.addEventListener('change', function() {
        if (eventTypeSelect.value === '') {
            saveButton.disabled = true;
        } else {
            saveButton.disabled = false;
        }
    });
    document.addEventListener('keydown', function (e) {
        if (e.key === 'Escape') closePopup();
    });

    function closePopup() {
        popup.style.display = 'none';
        document.querySelectorAll('.status-cell').forEach(c => c.classList.remove('selected-cell'));
        popup.style.display = 'none';
        currentUserId = null;
        currentDay = null;
    }

    async function saveStatus() {
        const startValue = document.getElementById('startDateTime').value;
        const start = new Date(startValue);
        const endValue = document.getElementById('endDateTime').value;
        const end = new Date(endValue);
        var type = document.getElementById('eventType').value;
        if (!startValue || !endValue || !type) {
            alert('Compila tutti i campi prima di salvare.');
            return;
        }
        
        const dateStart = new Date(start.getFullYear(), start.getMonth(), start.getDate());
        const dateEnd = new Date(end.getFullYear(), end.getMonth(), end.getDate());
        const timeStart = new Date(1970, 0, 1, start.getHours(), start.getMinutes(), start.getSeconds());
        const timeEnd = new Date(1970, 0, 1, end.getHours(), end.getMinutes(), end.getSeconds());
        var [hours, minutes, seconds] = CurrentUserTimesheetStartTime.split(':').map(Number);
        const userTimeStart = new Date(1970, 0, 1);
        userTimeStart.setHours(hours, minutes, seconds, 0); 

        var [hoursEnd, minutesEnd, secondsEnd] = CurrentUserTimesheetEndTime.split(':').map(Number);
        const userTimeEnd = new Date(1970, 0, 1);
        userTimeEnd.setHours(hoursEnd, minutesEnd, secondsEnd, 0);
        console.log(start)
        console.log(end)
        if (start > end) {
            alert('La data/ora di inizio deve essere precedente a quella di fine.');
            return;
        }

        if (dateStart.getTime() == dateEnd.getTime() && (timeStart < userTimeStart || timeStart > userTimeEnd || timeEnd > userTimeEnd || timeEnd < userTimeStart)) {
            alert("L'orario inserito non è valido");
            return;
        }
        else if (dateStart.getTime() == dateEnd.getTime() && ( timeStart >= userTimeStart && timeStart < userTimeEnd) || (timeEnd > userTimeStart && timeEnd <= userTimeEnd)) {
            if ((timeStart > userTimeStart || timeEnd < userTimeEnd) && type != "smartworking" ){
                type = type+" Mezza"
            }
            else if (type != "smartworking"){
                type = type+" Intera"
            }
            
        }
        try {
            const response = await fetch('/Example/Dashboard/SaveAbsenceEvent?cacheBust=' + new Date().getTime(), {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]')?.value
                },
                body: JSON.stringify({
                    StartEventDate: start,
                    EndEventDate: end,
                    EventType: type
                })
            });
    
            if (!response.ok) {
                const errorText = await response.text();
                alert('Errore durante il salvataggio: ' + errorText);
                return;
            }
    
            const result = await response.json();
            alert(result.message);
    
            closePopup();
    
            window.location.reload();
    
        } catch (error) {
            alert('Errore di rete o server: ' + error.message);
        }
    }

    document.addEventListener('click', function(event) {
        if (!popup.contains(event.target) && !event.target.classList.contains('status') && !event.target.closest('.status-cell')) {
            closePopup();
        }
    });


    document.addEventListener('DOMContentLoaded', () => {
        const events = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Events));
        const statusIcons = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.StatusIcons));
        const statusClasses = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.StatusClasses));
    
        events.forEach(event => {
            const userId = event.UserId;
            const start = new Date(event.StartEventDate);
            const end = new Date(event.EndEventDate);
            const eventType = event.EventType;
    
            for (let d = new Date(start); d <= end; d.setDate(d.getDate() + 1)) {
                const dayStr = d.toISOString().substring(0,10);
                const cell = document.querySelector(`td.status-cell[data-user='${userId}'][data-day='${dayStr}']`);
                if (cell && !cell.classList.contains('disabled-cell')) {
                    const icon = statusIcons[eventType] || '';
                    const cssClass = statusClasses[eventType] || '';
                    cell.innerHTML = `<span class="status ${cssClass}">${icon}</span>`;
                }
            }
        });
        document.querySelectorAll('td.status-cell').forEach(cell => {
            const userId = cell.getAttribute('data-user');
            const dayStr = cell.getAttribute('data-day');
            const date = new Date(dayStr);
            const dayOfWeek = (date.getDay() + 6) % 7;

            const user = users.find(u => u.Id.toString() === userId);
            if (!user) return;

            const workingDays = user.timesheetWeekDay ? user.timesheetWeekDay.split('-').map(Number) : [];

            if (!workingDays.includes(dayOfWeek)) {
                cell.classList.add('non-working-day');
                cell.onclick = null;
                cell.style.pointerEvents = 'none';
                cell.innerHTML = '';
            }
        });
    });


    document.querySelectorAll('.toggle-table').forEach(header => {
        header.addEventListener('click', function () {
            const targetId = this.dataset.target;
            const target = document.getElementById(targetId);
            const arrow = this.querySelector('.arrow');
            const isVisible = target.style.display !== 'none';

            if (isVisible) {
                target.style.display = 'none';
                arrow.classList.remove('up');
            } else {
                target.style.display = 'block';
                arrow.classList.add('up');
            }
        });
    });
</script>
}
