@model Template.Web.Areas.Example.Dashboard.PresenzeViewModel
<style>
.non-working-day {
    background-color: #ddd !important;
    color: #888 !important;
    cursor: default !important;
    pointer-events: none; /* disabilita il click */
}
    body {
        font-family: Arial, sans-serif;
        background: #f4f4f4;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .selected-cell {
        outline: 2px solid #0073e6;
    }
    .main-content {
        margin-left: 270px;
        padding: 20px;
        width: calc(100% - 270px);
    }

    .container {
        max-width: 85%;
        margin: auto;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
        position: relative;
    }

    th {
        background: #0073e6;
        color: white;
        border: 1px solid black !important;
    }

    td:first-child {
        font-weight: bold;
        min-width: 150px !important;
        max-width: 150px !important;
        background: #e3f2fd;
        position: sticky;
        left: 0;
        border:1px solid black !important;
        z-index: 2;
    }

    .status {
        cursor: pointer;
        font-size: 2rem;
        transition: 0.3s;
    }

    .status:hover {
        transform: scale(1.2);
    }

    .intera { background: #28a745; color: white; }
    .mezza { background: #ffc107; color: black; }
    .assente { background: #dc3545; color: white; }
    .smartworking { background: #17a2b8; color: white; }

    .table-wrapper {
        overflow-x: auto;
        max-width: 100%;
    }

    #popup {
        position: absolute;
        background: white;
        border: 1px solid #ccc;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.15);
        width: 300px;
        z-index: 100;
        display: none;
        font-size: 14px;
        text-align: left;
    }

    #popup label {
        display: block;
        margin-top: 10px;
        font-weight: 600;
    }

    #popup input[type="datetime-local"], 
    #popup select {
        width: 100%;
        padding: 6px 8px;
        margin-top: 4px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #aaa;
    }

    #popup button {
        margin-top: 12px;
        padding: 8px 14px;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        font-weight: 600;
    }

    #popup button.save {
        background-color: #0073e6;
        color: white;
        margin-right: 8px;
    }

    #popup button.delete {
        background-color: #dc3545;
        color: white;
        margin-right: 8px;
    }

    #popup button.cancel {
        background-color: #ccc;
        color: black;
    }

    .legenda {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 12px;
        font-weight: bold;
    }

    #managerTable, #teamTable, #myTeamTable {
        display: none;
    }

    .legenda div {
        padding: 6px 12px;
        border-radius: 4px;
    }

     .disabled-cell {
        background-color: #ddd !important;
        cursor: default;
    }

    .status-container {
        position: relative;
        display: inline-block;
    }

    .overlay-icon {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
        font-size: 1.5em;
    }

    .dayBorder{
        border:1px solid black !important;
    }
    .selectButton{
        background-color:#f0f0f0;
        color: #0073e6;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
    }

    .selectButton.up{
        background-color: #0073e6;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
    }

    .arrow {
        display: inline-block;
        margin-left: 10px;
        transition: transform 0.3s ease;
    }
    .today-column {
        border: 3px solid red !important;
        color: white !important;
        font-weight: bold;
        z-index: 1;
    }
    
    .arrow.up {
        transform: rotate(180deg); /* Freccia verso l’alto */
    }

    .legenda {
        width: 100%;
    }

    .firstColumn {
        position: sticky;
        left: 0;
        z-index: 1;
        border-right: 1px solid black !important;
    }

    .insideIcon {
        color:black; 
        background: #ff000000 !important; 
        display: inline-block;
    }

    .weekend{
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScvPgogIDxwYXRoIGQ9J00tMSwxIGwyLC0yCiAgICAgICAgICAgTTAsMTAgbDEwLC0xMAogICAgICAgICAgIE05LDExIGwyLC0yJyBzdHJva2U9J2JsYWNrJyBzdHJva2Utd2lkdGg9JzInLz4KPC9zdmc+);
    background-repeat: repeat;
    }
    .tableTitle {
        font-weight: bold;
        font-size: 1.5rem;
        position: sticky;
        top: 0;
        background: white;
        z-index: 1;
        border-top: 1px solid #ccc;
        letter-spacing: 0.4px;
    }

    .legendaIcon {
        font-size: 1.2rem;
        margin-right: 5px;
    }
</style>

<div class="main-content">
    <div class="container">
        <h1 class="mb-4"><b>Gestione Presenze e Smart Working</b></h1>

        <form method="get" class="border rounded p-4 bg-light">

            <div class="row mb-0 align-items-center">
                <div class="col-md-4">
                    <label for="startMonth" class="form-label"><b>Da mese:</b></label>
                    <input type="month" id="startMonth" name="startMonth"
                           class="form-control"
                           value="@Model.StartMonth?.ToString("yyyy-MM")" />
                </div>

                <div class="col-md-4">
                    <label for="endMonth" class="form-label"><b>A mese:</b></label>
                    <input type="month" id="endMonth" name="endMonth"
                           class="form-control"
                           value="@Model.EndMonth?.ToString("yyyy-MM")" />
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">Filtra</button>
                </div>
            </div>
        </form>

        <div style="display: flex;
    align-items: center;">
            <div class="legenda">
                <div class="card-header justify-content-between align-items-center toggle-table" data-target="myTable" style="cursor: pointer;">
                    <button class="selectButton up">
                        <span class="fs-5 fw-semibold">Il mio calendario</span>
                        <span class="arrow up" style="font-size:1.5rem">⭣</span>
                    </button>
                </div>
                @if (Model.ManagerUser.Any())
                {
                <div class="card-header justify-content-between align-items-center toggle-table" data-target="managerTable" style="cursor: pointer;">
                    <button class="selectButton" >
                        <span class="fs-5 fw-semibold">Calendario del mio Manager</span>
                        <span class="arrow" style="font-size:1.5rem">⭣</span>
                    </button>
                </div>
                }
                @if (Model.Users != null && Model.Users.Any())
                {
                <div class="card-header justify-content-between align-items-center toggle-table" data-target="teamTable" style="cursor: pointer;">
                    <button class="selectButton">
                        <span class="fs-5 fw-semibold">Il mio Team</span>
                        <span class="arrow" style="font-size:1.5rem">⭣</span>
                    </button>
                </div>
                }
                @if (Model.IsManager && Model.TeamUsers.Count() >0)
                {   
                <div class="card-header d-flex justify-content-between align-items-center toggle-table" data-target="myTeamTable" style="cursor: pointer;">
                    <button class="selectButton">
                        <span class="fs-5 fw-semibold">Tabella riservata ai manager</span>
                        <span class="arrow" style="font-size:1.5rem">⭣</span>
                    </button>
                </div>
                }
            </div>
            <div display="flex" style="display: flex; flex-direction: column;width: 20%; ">
                <div style="margin-top: 20px; display: flex; align-items: flex-start;">
                    <h4 class="fw-semibold">Legenda<h4>
                </div>
                <div style="display:flex; flex-direction: column; align-items: flex-start; justify-content: space-evenly;" style="gap: 10px; flex-wrap: wrap; margin-left: 20px;">
                    <div>
                       <b class="legendaIcon" style="    font-size: 1.7rem;">■</b> Permesso Giorno Intero
                    </div>
                    <div>
                        <b class="legendaIcon">◧</b> Permesso Mezza Giornata
                    </div>
                    <div>
                       <b class="legendaIcon">𒊹</b> Ferie Giorno Intero
                    </div>
                    <div>
                        <b class="legendaIcon">◐</b> Ferie Mezza Giornata
                    </div>
                    <div>
                        <b class="legendaIcon">🏠︎</b> Smart Working
                    </div>
                </div>
            </div>
        </div>
            <div id="myTable">
                <div class="tableTitle">
                    Il mio calendario
                </div>
                <div id="table1" class="table-wrapper" style="margin-bottom: 20px;">
                    <table >
                        <thead>
                            <tr>
                                <th class="firstColumn" style=""></th>
                                @foreach (var day in Model.DaysInMonth)
                                {
                                    var today = DateTime.Today;
                                    var date = DateTime.Parse(day);
                                    var isToday = date.Date == today;
                                    <th id="day-@(date.ToString("yyyy-MM-dd"))" class="@(isToday ? "today-column" : "")" style="white-space: nowrap; text-align: center;">
                                        <div>@date.ToString("dddd")</div>
                                    </th>
                                }
                            </tr>
                            <tr>
                                <th class="firstColumn">Dipendente</th>
                                @foreach (var day in Model.DaysInMonth)
                                {
                                    var today = DateTime.Today;
                                    var date = DateTime.Parse(day);
                                    var isToday = date.Date == today;
                                    <th id="day-@(date.ToString("yyyy-MM-dd"))" class="@(isToday ? "today-column" : "")" style="white-space: nowrap; text-align: center;">
                                        <div>@date.ToString("dd/MM/yyyy")</div>
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="dayBorder">@Model.CurrentUserSchedule.Name</td>
                                @foreach (var day in Model.DaysInMonth)
                                {
                                    var today = DateTime.Today;
                                    var date = DateTime.Parse(day);
                                    var isToday = date.Date == today;
                                    var dayOfWeek = (int)date.DayOfWeek;
                                    if (dayOfWeek == 0) {dayOfWeek =  6;}
                                    else {dayOfWeek = dayOfWeek - 1;}

                                    var isEnabled = (Model.CurrentUserTimesheetWeekDay.Split('-').Select(int.Parse).ToList()).Contains(dayOfWeek);

                                    var status = Model.CurrentUserSchedule.Schedule.ContainsKey(day) ? Model.CurrentUserSchedule.Schedule[day].EventType : "";
                                    var state = Model.CurrentUserSchedule.Schedule.ContainsKey(day) ? Model.CurrentUserSchedule.Schedule[day].EventState : "";
                                    var StartTime = Model.CurrentUserSchedule.Schedule.ContainsKey(day) ? Model.CurrentUserSchedule.Schedule[day].StartTime.ToString("HH:mm") : "";
                                    var EndTime = Model.CurrentUserSchedule.Schedule.ContainsKey(day) ? Model.CurrentUserSchedule.Schedule[day].EndTime.ToString("HH:mm") : "";
                                    var icon = isEnabled ? Model.StatusIcons.GetValueOrDefault(status, "") : "";
                                    var cssClass = isEnabled ? Model.StatusClasses.GetValueOrDefault(status, "") : "";


                                    bool hasEvent = !string.IsNullOrEmpty(icon);
                                    var clickableClass = hasEvent ? "disabled-cell" : "";
                                    var onclickAttr = hasEvent ? "" : "onclick=\"openPopup(this)\"";

                                    <td id="cell-@(date.ToString("yyyy-MM-dd"))" class="status-cell @(isEnabled? clickableClass : "disabled-cell") dayBorder @(isToday ? "today-column" : "") @(isEnabled ? "" : "weekend")"
                                        data-user="@Model.CurrentUserSchedule.Id"
                                        data-StartTime="@Model.CurrentUserSchedule.TimesheetStartTime"
                                        data-EndTime="@Model.CurrentUserSchedule.TimesheetEndTime"
                                        data-day="@date.ToString("yyyy-MM-dd")" 
                                        style="border: 1px solid #ccc; position: relative;"
                                        @Html.Raw(isEnabled && icon == ""? "onclick=\"openPopup(this)\"" : "")>
                                        @if (isEnabled)
                                        {   
                                            @if (status.Contains("Mezza")){
                                                <span class="status @cssClass disabled-cell insideIcon" title="@status @StartTime->@EndTime">@icon</span>
                                            }
                                            else{
                                                @if (status.Contains("Permessi")){
                                                   <span class="status @cssClass disabled-cell insideIcon" style="font-size: 3rem; transform: translateY(-6.7px);" title="@status">@icon</span>
                                                }
                                                else{
                                                    <span class="status @cssClass disabled-cell insideIcon"title="@status">@icon</span>
                                                }
                                            }
                                            @if (state == "Pending")
                                            {
                                                <span class="overlay-icon" style="color:#ff5c01" title="In attesa">⌛︎</span>
                                            }
                                            @if (state == "Rifiutato")
                                            {
                                                <span class="overlay-icon" style="color:red" title="Rifiutato">✘</span>
                                            }
                                            @if (state == "Approvato")
                                            {
                                                <span class="overlay-icon" style="color:green" title="Approvato">✔</span>
                                            }
                                        }
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        

        @if (Model.ManagerUser.Any())
        {
            <div id="managerTable" >
                <div class="tableTitle">
                    Calendario del mio Manager
                </div>
                <div id="table2" class="table-wrapper" style="margin-bottom: 40px;">
                    <table>
                        <thead>
                            <tr>
                                <th>Dipendente</th>
                                @foreach (var day in Model.DaysInMonth)
                                {
                                    var today = DateTime.Today;
                                    var date = DateTime.Parse(day);
                                    var isToday = date.Date == today;
                                    <th id="day-@(date.ToString("yyyy-MM-dd"))" class="@(isToday ? "today-column" : "")" style="white-space: nowrap; text-align: center;">
                                        <div>@date.ToString("dd/MM/yyyy")</div>
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var managerUser in Model.ManagerUser)
                            {
                                <tr>
                                    <td class="dayBorder">@managerUser.Name</td>
                                    @foreach (var day in Model.DaysInMonth)
                                    {
                                        var today = DateTime.Today;
                                        var date = DateTime.Parse(day);
                                        var dayOfWeek = (int)date.DayOfWeek;
                                        if (dayOfWeek == 0) {dayOfWeek =  6;}
                                        else {dayOfWeek = dayOfWeek - 1;}
                                        var isEnabled = (managerUser.TimesheetWeekDay.Split('-').Select(int.Parse).ToList()).Contains(dayOfWeek);

                                        var status = managerUser.Schedule.ContainsKey(day) ? managerUser.Schedule[day].EventType : "";
                                        var state = managerUser.Schedule.ContainsKey(day) ? managerUser.Schedule[day].EventState : "";
                                        var isToday = date.Date == today;
                                        var StartTime = managerUser.Schedule.ContainsKey(day) ? managerUser.Schedule[day].StartTime.ToString("HH:mm") : "";
                                        var EndTime = managerUser.Schedule.ContainsKey(day) ? managerUser.Schedule[day].EndTime.ToString("HH:mm") : "";
                                        var icon = isEnabled ? Model.StatusIcons.GetValueOrDefault(status, "") : "";
                                        var cssClass = isEnabled ? Model.StatusClasses.GetValueOrDefault(status, "") : "";
                                        bool hasEvent = !string.IsNullOrEmpty(icon);
                                        var clickableClass = hasEvent ? "disabled-cell" : "";
                                        <td class="status-cell @(isEnabled? clickableClass : "disabled-cell") dayBorder @(isEnabled ? "" : "weekend") @(isToday ? "today-column" : "")"
                                            data-user="@managerUser.Id"
                                            data-StartTime="@managerUser.TimesheetStartTime"
                                            data-EndTime="@managerUser.TimesheetEndTime"
                                            data-day="@date.ToString("yyyy-MM-dd")">
                                            @if (isEnabled)
                                            {
                                                @if (status.Contains("Mezza")){
                                                    <span class="status @cssClass disabled-cell insideIcon" title="@status @StartTime->@EndTime">@icon</span>
                                                }
                                                else{
                                                    @if (status.Contains("Permessi")){
                                                       <span class="status @cssClass disabled-cell insideIcon" style="font-size: 3rem; transform: translateY(-6.7px);" title="@status">@icon</span>
                                                    }
                                                    else{
                                                        <span class="status @cssClass disabled-cell insideIcon"title="@status">@icon</span>
                                                    }
                                                }
                                                @if (state == "Pending")
                                                {
                                                    <span class="overlay-icon" style="color:#ff5c01" title="In attesa">⌛︎</span>
                                                }
                                                @if (state == "Rifiutato")
                                                {
                                                    <span class="overlay-icon" style="color:red" title="Rifiutato">✘</span>
                                                }
                                                @if (state == "Approvato")
                                                {
                                                    <span class="overlay-icon" style="color:green" title="Approvato">✔</span>
                                                }
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        @if (Model.Users != null && Model.Users.Any())
        {
        <div id="teamTable">
            <div class="tableTitle">
                Il mio Team
            </div>
            <div id="table3"class="table-wrapper" style="margin-bottom: 40px;">
                <table>
                    <thead>
                        <tr>
                            <th>Dipendente</th>
                            @foreach (var day in Model.DaysInMonth)
                            {
                                var today = DateTime.Today;
                                    var date = DateTime.Parse(day);
                                    var isToday = date.Date == today;
                                    <th id="day-@(date.ToString("yyyy-MM-dd"))" class="@(isToday ? "today-column" : "")" style="white-space: nowrap; text-align: center;">
                                        <div>@date.ToString("dd/MM/yyyy")</div>
                                    </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td class="dayBorder">@user.Name</td>
                                @foreach (var day in Model.DaysInMonth)
                                {
                                    var today = DateTime.Today;
                                    var date = DateTime.Parse(day);
                                    var dayOfWeek = (int)date.DayOfWeek;
                                    if (dayOfWeek == 0) {dayOfWeek =  6;}
                                    else {dayOfWeek = dayOfWeek - 1;}
                                    var isEnabled = (user.TimesheetWeekDay.Split('-').Select(int.Parse).ToList()).Contains(dayOfWeek);

                                    var status = user.Schedule.ContainsKey(day) ? user.Schedule[day].EventType : "";
                                    var state = user.Schedule.ContainsKey(day) ? user.Schedule[day].EventState : "";
                                    var isToday = date.Date == today;
                                    var StartTime = user.Schedule.ContainsKey(day) ? user.Schedule[day].StartTime.ToString("HH:mm") : "";
                                    var EndTime = user.Schedule.ContainsKey(day) ? user.Schedule[day].EndTime.ToString("HH:mm") : "";

                                    var icon = isEnabled ? Model.StatusIcons.GetValueOrDefault(status, "") : "";
                                    var cssClass = isEnabled ? Model.StatusClasses.GetValueOrDefault(status, "") : "";
                                    bool hasEvent = !string.IsNullOrEmpty(icon);
                                    var clickableClass = hasEvent ? "disabled-cell" : "";
                                    <td class="status-cell @(isEnabled? clickableClass : "disabled-cell") dayBorder @(isEnabled ? "" : "weekend") @(isToday ? "today-column" : "")"
                                        data-user="@user.Id"
                                        data-StartTime="@user.TimesheetStartTime"
                                        data-EndTime="@user.TimesheetEndTime"
                                        data-day="@date.ToString("yyyy-MM-dd")">
                                        @if (isEnabled)
                                        {
                                            @if (status.Contains("Mezza")){
                                                <span class="status @cssClass disabled-cell insideIcon" title="@status @StartTime->@EndTime">@icon</span>
                                            }
                                            else{
                                                @if (status.Contains("Permessi")){
                                                   <span class="status @cssClass disabled-cell insideIcon" style="font-size: 3rem; transform: translateY(-6.7px);" title="@status">@icon</span>
                                                }
                                                else{
                                                    <span class="status @cssClass disabled-cell insideIcon"title="@status">@icon</span>
                                                }
                                            }
                                            @if (state == "Pending")
                                            {
                                                <span class="overlay-icon" style="color:#ff5c01" title="In attesa">⌛︎</span>
                                            }
                                            @if (state == "Rifiutato")
                                            {
                                                <span class="overlay-icon" style="color:red" title="Rifiutato">✘</span>
                                            }
                                            @if (state == "Approvato")
                                            {
                                                <span class="overlay-icon" style="color:green" title="Approvato">✔</span>
                                            }
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        }
        @if (Model.IsManager && Model.TeamUsers.Count() >0)
        {
        <div id="myTeamTable">
            <div class="tableTitle">
                Tabella riservata ai manager
            </div>
            <div id="table4" class="table-wrapper" style="margin-bottom: 40px;">
                <table id="table-container" style="overflow-x: auto; width: 100%;">
                    <thead>
                        <tr>
                            <th>Dipendente</th>
                            @foreach (var day in Model.DaysInMonth)
                            {
                                var today = DateTime.Today;
                                var date = DateTime.Parse(day);
                                var isToday = date.Date == today;
                                <th id="day-@(date.ToString("yyyy-MM-dd"))" class="@(isToday ? "today-column" : "")" style="white-space: nowrap; text-align: center;">
                                    <div>@date.ToString("dd/MM/yyyy")</div>
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.TeamUsers)
                        {
                            <tr>
                                <td class="dayBorder">@user.Name</td>
                                @foreach (var day in Model.DaysInMonth)
                                {
                                    var today = DateTime.Today;
                                    var date = DateTime.Parse(day);
                                    var dayOfWeek = (int)date.DayOfWeek;

                                    if (dayOfWeek == 0) {dayOfWeek =  6;}
                                    else {dayOfWeek = dayOfWeek - 1;}   
                                    var isEnabled = (user.TimesheetWeekDay.Split('-').Select(int.Parse).ToList()).Contains(dayOfWeek);

                                    var status = user.Schedule.ContainsKey(day) ? user.Schedule[day].EventType : "";
                                    var state = user.Schedule.ContainsKey(day) ? user.Schedule[day].EventState : "";
                                    var isToday = date.Date == today;
                                    var StartTime = user.Schedule.ContainsKey(day) ? user.Schedule[day].StartTime.ToString("HH:mm") : "";
                                    var EndTime = user.Schedule.ContainsKey(day) ? user.Schedule[day].EndTime.ToString("HH:mm") : "";
                                    var icon = isEnabled ? Model.StatusIcons.GetValueOrDefault(status, "") : "";
                                    var cssClass = isEnabled ? Model.StatusClasses.GetValueOrDefault(status, "") : "";
                                    bool hasEvent = !string.IsNullOrEmpty(icon);
                                    var clickableClass = hasEvent ? "disabled-cell" : "";
                                    <td class="status-cell @(isEnabled? clickableClass : "disabled-cell") dayBorder @(isEnabled ? "" : "weekend") @(isToday ? "today-column" : "")"
                                        data-user="@user.Id"
                                        data-StartTime="@user.TimesheetStartTime"
                                        data-EndTime="@user.TimesheetEndTime"
                                        data-day="@date.ToString("yyyy-MM-dd")">
                                        @if (isEnabled)
                                        {
                                            @if (status.Contains("Mezza")){
                                                <span class="status @cssClass disabled-cell insideIcon" title="@status @StartTime->@EndTime">@icon</span>
                                            }
                                            else{
                                                @if (status.Contains("Permessi")){
                                                   <span class="status @cssClass disabled-cell insideIcon" style="font-size: 3rem; transform: translateY(-6.7px);" title="@status">@icon</span>
                                                }
                                                else{
                                                    <span class="status @cssClass disabled-cell insideIcon"title="@status">@icon</span>
                                                }
                                            }
                                            @if (state == "Pending")
                                            {
                                                <span class="overlay-icon" style="color:#ff5c01" title="In attesa">⌛︎</span>
                                            }
                                            @if (state == "Rifiutato")
                                            {
                                                <span class="overlay-icon" style="color:red" title="Rifiutato">✘</span>
                                            }
                                            @if (state == "Approvato")
                                            {
                                                <span class="overlay-icon" style="color:green" title="Approvato">✔</span>
                                            }
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        }

    </div>
</div>

<div id="popup" class="card shadow p-3" style="width: 320px; position: absolute; z-index: 1050; background: white; border-radius: 0.375rem; display: none;">
    <div class="mb-3">
        <label for="startDateTime" class="form-label">Data e ora inizio:</label>
        <div class="input-group">
          <input type="datetime-local" 
                 min="@Model.CurrentUserSchedule.TimesheetStartTime" 
                 max="@Model.CurrentUserSchedule.TimesheetEndTime" 
                 id="startDateTime" 
                 class="form-control" />
        </div>
    </div>

    <div class="mb-3">
        <label for="endDateTime" class="form-label">Data e ora fine:</label>
        <input type="datetime-local" 
               min="@Model.CurrentUserSchedule.TimesheetStartTime" 
               max="@Model.CurrentUserSchedule.TimesheetEndTime" 
               id="endDateTime" 
               class="form-control" />
    </div>

    <div class="mb-3">
        <label for="eventType" class="form-label">Tipo evento:</label>
        <select id="eventType" class="form-select">
            <option value="">-- Scegli --</option>
            <option value="Ferie">Ferie</option>
            <option value="Permessi">Permessi</option>
            <option value="smartworking">Smart Working</option>
        </select>
    </div>

    <div class="d-flex justify-content-end gap-2">
        <button class="btn btn-secondary" onclick="closePopup()">Annulla</button>
        <button class="btn btn-primary" onclick="saveStatus()" disabled id="saveBtn">Salva</button>
    </div>
</div>

@section Scripts {
<script>
    let currentUserId = null;
    let currentDay = null;
    const popup = document.getElementById('popup');

   document.addEventListener("DOMContentLoaded", function () {
        const table1 = document.querySelector("#table1");
        const table2 = document.querySelector("#table2");
        const table3 = document.querySelector("#table3");
        const table4 = document.querySelector("#table4");
        let isSyncing1 = false;
        let isSyncing2 = false;
        let isSyncing3 = false;
        let isSyncing4 = false;
        var arr = []
        for (let i = 1; i <= 4; i++) {
            const table = eval("table" + i);
            if (table) {
                arr.push(i);
            }
        }
        console.log(arr.length)
        for (let i = 0; i < arr.length; i++) {
            eval("table" + arr[i]).addEventListener("scroll", function () {
                if (eval("!isSyncing"+arr[i])) {
                    for (let j = 0; j < arr.length; j++) {
                        if (i === j) continue;
                        eval("isSyncing"+arr[j]+"= true");
                        eval("table"+arr[j]+".scrollLeft = table"+arr[i]+".scrollLeft");
                    }
                }
                eval("isSyncing"+arr[i] + "= false");
            });             
        }
    });

    function openPopup(cell) {
        document.querySelectorAll('.status-cell').forEach(c => c.classList.remove('selected-cell'));
        cell.classList.add('selected-cell');
        currentUserId = cell.getAttribute('data-user');
        CurrentUserTimesheetStartTime = cell.getAttribute('data-StartTime');
        CurrentUserTimesheetEndTime = cell.getAttribute('data-EndTime');         
        currentDay = cell.getAttribute('data-day');                          

        const rect = cell.getBoundingClientRect();
        popup.style.top = (window.scrollY + rect.bottom + 5) + 'px';
        popup.style.left = (window.scrollX + rect.left) + 'px';

        const dayISO = currentDay;
        const defaultStart = dayISO + "T" + CurrentUserTimesheetStartTime;
        const defaultEnd = dayISO + "T" + CurrentUserTimesheetEndTime;

        const startInput = document.getElementById('startDateTime');
        const endInput = document.getElementById('endDateTime');

        startInput.value = defaultStart;
        startInput.min = defaultStart;   
        endInput.value = defaultEnd;
        endInput.min = defaultStart;   

        document.getElementById('eventType').value = '';

        updateTimeFields(CurrentUserTimesheetStartTime, CurrentUserTimesheetEndTime);

        popup.style.display = 'block';
    }

    document.getElementById('startDateTime').addEventListener('input', function() {
        const startVal = this.value;
        const endInput = document.getElementById('endDateTime');
        if (endInput.value < startVal) {
            endInput.value = startVal;
        }
        endInput.min = startVal;
    });

    function updateTimeFields(CurrentUserTimesheetStartTime, CurrentUserTimesheetEndTime) {
        const startInput = document.getElementById('startDateTime');
        const endInput = document.getElementById('endDateTime');
        

        const startDate = startInput.value.substring(0, 10);
        const endDate = endInput.value.substring(0, 10);

        if (startDate === endDate) {
            startInput.disabled = false;
            endInput.disabled = false;
        } else {
            startInput.disabled = false;
            endInput.disabled = false;

            const newStart = startDate + 'T'+CurrentUserTimesheetStartTime.substring(0, 5);

            const newEnd = endDate + 'T'+CurrentUserTimesheetEndTime.substring(0, 5);

            startInput.value = newStart;
            endInput.value = newEnd;

            startInput.addEventListener('input', fixStartTimeIfDateDiffers);
            endInput.addEventListener('input', fixEndTimeIfDateDiffers);
        }
    }

    function fixStartTimeIfDateDiffers() {
        const startInput = document.getElementById('startDateTime');
        const endInput = document.getElementById('endDateTime');
        const startDate = startInput.value.substring(0, 10);
        const endDate = endInput.value.substring(0, 10);

        if (startDate !== endDate) {
            startInput.value = startDate + 'T09:00';
        }
    }

    function fixEndTimeIfDateDiffers() {
        const startInput = document.getElementById('startDateTime');
        const endInput = document.getElementById('endDateTime');
        const startDate = startInput.value.substring(0, 10);
        const endDate = endInput.value.substring(0, 10);

        if (startDate !== endDate) {
            endInput.value = endDate + 'T17:00';
        }
    }

    document.getElementById('startDateTime').addEventListener('change', updateTimeFields);
    document.getElementById('endDateTime').addEventListener('change', updateTimeFields);

    const eventTypeSelect = document.getElementById('eventType');
    const saveButton = document.getElementById('saveBtn');

    eventTypeSelect.addEventListener('change', function() {
        if (eventTypeSelect.value === '') {
            saveButton.disabled = true;
        } else {
            saveButton.disabled = false;
        }
    });
    document.addEventListener('keydown', function (e) {
        if (e.key === 'Escape') closePopup();
    });

    function closePopup() {
        popup.style.display = 'none';
        document.querySelectorAll('.status-cell').forEach(c => c.classList.remove('selected-cell'));
        popup.style.display = 'none';
        currentUserId = null;
        currentDay = null;
    }

    async function saveStatus() {
        const startValue = document.getElementById('startDateTime').value;
        const start = new Date(startValue);
        const endValue = document.getElementById('endDateTime').value;
        const end = new Date(endValue);
        var type = document.getElementById('eventType').value;
        if (!startValue || !endValue || !type) {
            alert('Compila tutti i campi prima di salvare.');
            return;
        }
        
        const dateStart = new Date(start.getFullYear(), start.getMonth(), start.getDate());
        const dateEnd = new Date(end.getFullYear(), end.getMonth(), end.getDate());
        const timeStart = new Date(1970, 0, 1, start.getHours(), start.getMinutes(), start.getSeconds());
        const timeEnd = new Date(1970, 0, 1, end.getHours(), end.getMinutes(), end.getSeconds());
        var [hours, minutes, seconds] = CurrentUserTimesheetStartTime.split(':').map(Number);
        const userTimeStart = new Date(1970, 0, 1);
        userTimeStart.setHours(hours, minutes, seconds, 0); 

        var [hoursEnd, minutesEnd, secondsEnd] = CurrentUserTimesheetEndTime.split(':').map(Number);
        const userTimeEnd = new Date(1970, 0, 1);
        userTimeEnd.setHours(hoursEnd, minutesEnd, secondsEnd, 0);
        console.log(start)
        console.log(end)
        if (start > end) {
            alert('La data/ora di inizio deve essere precedente a quella di fine.');
            return;
        }

        if (dateStart.getTime() == dateEnd.getTime() && (timeStart < userTimeStart || timeStart > userTimeEnd || timeEnd > userTimeEnd || timeEnd < userTimeStart)) {
            alert("L'orario inserito non è valido");
            return;
        }
        else if (dateStart.getTime() == dateEnd.getTime() && ( timeStart >= userTimeStart && timeStart < userTimeEnd) || (timeEnd > userTimeStart && timeEnd <= userTimeEnd)) {
            if ((timeStart > userTimeStart || timeEnd < userTimeEnd) && type != "smartworking" ){
                type = type+" Mezza"
            }
            else if (type != "smartworking"){
                type = type+" Intera"
            }
            
        }
        try {
            const response = await fetch('/Example/Dashboard/SaveAbsenceEvent?cacheBust=' + new Date().getTime(), {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]')?.value
                },
                body: JSON.stringify({
                    StartEventDate: start,
                    EndEventDate: end,
                    EventType: type
                })
            });
    
            if (!response.ok) {
                const errorText = await response.text();
                alert('Errore durante il salvataggio: ' + errorText);
                return;
            }
    
            const result = await response.json();
            alert(result.message);
    
            closePopup();
    
            window.location.reload();
    
        } catch (error) {
            alert('Errore di rete o server: ' + error.message);
        }
    }

    document.addEventListener('click', function(event) {
        if (!popup.contains(event.target) && !event.target.classList.contains('status') && !event.target.closest('.status-cell')) {
            closePopup();
        }
    });


    document.addEventListener('DOMContentLoaded', () => {
        const events = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Events));
        const statusIcons = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.StatusIcons));
        const statusClasses = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.StatusClasses));
    
        events.forEach(event => {
            const userId = event.UserId;
            const start = new Date(event.StartEventDate);
            const end = new Date(event.EndEventDate);
            const eventType = event.EventType;
    
            for (let d = new Date(start); d <= end; d.setDate(d.getDate() + 1)) {
                const dayStr = d.toISOString().substring(0,10);
                const cell = document.querySelector(`td.status-cell[data-user='${userId}'][data-day='${dayStr}']`);
                if (cell && !cell.classList.contains('disabled-cell')) {
                    const icon = statusIcons[eventType] || '';
                    const cssClass = statusClasses[eventType] || '';
                    cell.innerHTML = `<span class="status ${cssClass}">${icon}</span>`;
                }
            }
        });
        document.querySelectorAll('td.status-cell').forEach(cell => {
            const userId = cell.getAttribute('data-user');
            const dayStr = cell.getAttribute('data-day');
            const date = new Date(dayStr);
            const dayOfWeek = (date.getDay() + 6) % 7;

            const user = users.find(u => u.Id.toString() === userId);
            if (!user) return;

            const workingDays = user.timesheetWeekDay ? user.timesheetWeekDay.split('-').map(Number) : [];

            if (!workingDays.includes(dayOfWeek)) {
                cell.classList.add('non-working-day');
                cell.onclick = null;
                cell.style.pointerEvents = 'none';
                cell.innerHTML = '';
            }
        });
    });


    document.querySelectorAll('.toggle-table').forEach(header => {
        header.addEventListener('click', function () {
            const targetId = this.dataset.target;
            const target = document.getElementById(targetId);
            const selectButton = this.querySelector('.selectButton');
            const arrow = this.querySelector('.arrow');
            const isVisible = target.style.display !== 'none';

            if (isVisible) {
                target.style.display = 'none';
                arrow.classList.remove('up');
                selectButton.classList.remove('up');
            } else {
                target.style.display = 'block';
                arrow.classList.add('up');
                selectButton.classList.add('up');
            }
        });
    });
</script>
}
