@inject IHtmlLocalizer<Template.Web.SharedResource> SharedLocalizer
@inject Microsoft.Extensions.Options.IOptions<AppSettings> appSettings
@{
    Layout = "_LayoutHtml";
    var version = System.Reflection.Assembly.GetAssembly(typeof(Startup)).GetName().Version;

    var identitaCorrente = (Template.Web.Areas.IdentitaViewModel)ViewData[Template.Web.Areas.IdentitaViewModel.VIEWDATA_IDENTITACORRENTE_KEY];
}
@section metas{
    @RenderSection("metas", false)
}
@section styles{
    @RenderSection("styles", false)
    <style>
        .sidebar {
    width: 250px;
    background: #0073e6;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar a {
            display: block;
            color: white;
            text-decoration: none;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            transition: 0.3s;
        }

.sidebar a:hover {
    background: rgba(255, 255, 255, 0.2);
}

    </style>
}
<div id="pageId" class="onit-page">
    <div class="onit-page-sticky-top" id="onit-page-sticky-top">
        <nav class="navbar navbar-expand-lg navbar-dark onit-page-menu">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse flex-wrap" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto onit-page-menu-user">
                        @if (identitaCorrente != null)
                        {
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="user-profile-picture" src="@identitaCorrente.GravatarUrl" />&nbsp; <b style="color:black">@identitaCorrente.EmailUtenteCorrente</b>
                                </a>
                                <div class="dropdown-menu dropdown-menu-dark dropdown-menu-end" role="menu">
                                    <a class="dropdown-item" href="javascript:void(0)" onclick="javascript: document.getElementById('POST_LogOut').submit()" title="@SharedLocalizer["Chiudi sessione di lavoro"]">
                                        <i class="fa-solid fa-right-from-bracket"></i>&nbsp;@SharedLocalizer["Esci"]
                                    </a>
                                    <form autocomplete="off" method="post" action="@Url.Action(MVC.Login.Logout())" id="POST_LogOut" display="none"></form>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        @if (identitaCorrente != null){
            <div class="sidebar">
                <a class="navbar-brand" style="display: flex; justify-content: center;" asp-controller="Dashboard">
                    <img class="onit-suites-logo" src="~/images/app-logo.png" />
                </a>
                @if (identitaCorrente.Role == "Admin"){
                    <a asp-area="Example" asp-controller="Users" asp-action="Index" style="display: flex; justify-content: center;">Gestione utenti</a>
                    <a asp-area="Example" asp-controller="Teams" asp-action="Index" style="display: flex; justify-content: center;">Gestione team</a>
                    <a asp-area="Example" asp-controller="Timesheets" asp-action="Index" style="display: flex; justify-content: center;">Gestione time</a>
                    <a asp-area="Example" asp-controller="TeamMembers" asp-action="Index" style="display: flex; justify-content: center;">Gestione Utenti Team</a>
                }
                <a asp-area="Example" asp-controller="MyRequests" asp-action="Index" style="display: flex; justify-content: center;">Le mie richieste</a>
                <a asp-area="Example" asp-controller="Requests" asp-action="Index" style="display: flex; justify-content: center;">Gestione Richieste</a>
            </div>
        }
        @RenderSection("pageTitle", false)
    </div>
    @RenderSection("pageSubtitle", false)
    @RenderBody()
</div>
@section googlehead{
    @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-', { 'anonymize_ip': true });    // Ricordarsi di anonimizzare per fare ricadere il cookie tra quelli tecnici ed evitare l'obbligo del banner
    </script>*@
    }
@section scripts{
    <script type="text/javascript">
        @this.RenderAlertsWithToastify()
    </script>

    @RenderSection("scripts", false)
}